# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Ast/x64/Debug/Animal.obj
Ast/x64/Debug/Ast.ilk
Ast/x64/Debug/Ast.log
Ast/x64/Debug/Ast.tlog/CL.command.1.tlog
Ast/x64/Debug/Ast.tlog/Cl.items.tlog
Ast/x64/Debug/Ast.tlog/CL.read.1.tlog
Ast/x64/Debug/Ast.tlog/CL.write.1.tlog
Ast/x64/Debug/Ast.tlog/link.command.1.tlog
Ast/x64/Debug/Ast.tlog/link.read.1.tlog
Ast/x64/Debug/Ast.tlog/link.write.1.tlog
Ast/x64/Debug/Main.obj
Ast/x64/Debug/main.obj.enc
Ast/x64/Debug/NameStorage.obj
Ast/x64/Debug/Rabbit.obj
Ast/x64/Debug/vc143.idb
Ast/x64/Debug/vc143.pdb
x64/Debug/Ast.exe
x64/Debug/Ast.pdb
.vs/Ast/v17/ipch/AutoPCH/e24273f3bc9f5bd5/NAMESTORAGE.ipch
.vs/Ast/v17/ipch/AutoPCH/d0b76efc823c8059/RABBIT.ipch
.vs/Ast/v17/ipch/AutoPCH/9560619950a10e95/EXE_COMMON.ipch
.vs/Ast/v17/ipch/AutoPCH/5ffc8987bcb52a3c/MAIN.ipch
.vs/Ast/v17/ipch/AutoPCH/3b71840ea0ff0fd/EXE_MAIN.ipch
.vs/Ast/v17/ipch/AutoPCH/1bb695c6d4b653c1/ANIMAL.ipch
.vs/Ast/v17/Browse.VC.opendb
.vs/Ast/v17/Browse.VC.db-wal
.vs/Ast/v17/Browse.VC.db-shm
.vs/Ast/v17/Browse.VC.db
.vs/Ast/v17/.suo
.vs/Ast/FileContentIndex/f37b5de1-8860-4050-abac-7242f243cbc8.vsidx
.vs/Ast/FileContentIndex/e2032174-bc2a-4830-b4b2-52be35e2352d.vsidx
.vs/Ast/FileContentIndex/c9896c48-dff7-40dd-9883-a31f26c80aee.vsidx
.vs/Ast/FileContentIndex/801828f3-36d5-4f8d-82b4-ff05190f9d25.vsidx
.vs/Ast/FileContentIndex/78f94e3c-257e-4cdf-8eff-847940ec7992.vsidx
.vs/Ast/FileContentIndex/67c7de6a-f2bf-4357-8860-8aac19028ad9.vsidx
.vs/Ast/FileContentIndex/67918b40-4e01-4608-86b6-788d26256435.vsidx
.vs/Ast/FileContentIndex/54fc459d-0c78-45af-9e33-286e0fd0af20.vsidx
.vs/Ast/FileContentIndex/51d61da8-c8d0-4a8e-a1ae-324f00e1c943.vsidx
.vs/Ast/FileContentIndex/0b4d4fcb-f6e6-4cf1-9593-9d4e2fc75b91.vsidx
*.vsidx
.vs/Ast/v17/Browse.VC.db
.vs/Ast/v17/.suo
.vs/Ast/FileContentIndex/c9896c48-dff7-40dd-9883-a31f26c80aee.vsidx
.vs/Ast/FileContentIndex/801828f3-36d5-4f8d-82b4-ff05190f9d25.vsidx
.vs/Ast/FileContentIndex/78f94e3c-257e-4cdf-8eff-847940ec7992.vsidx
.vs/Ast/FileContentIndex/67c7de6a-f2bf-4357-8860-8aac19028ad9.vsidx
.vs/Ast/FileContentIndex/67918b40-4e01-4608-86b6-788d26256435.vsidx
*.ipch
